---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dimp-auth
  labels:
    app: dimp-auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dimp-auth
  template:
    metadata:
      labels:
        app: dimp-auth
    spec:
      containers:
        - name: dimp-auth
          image: ghcr.io/1spyral/dimp-auth
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
          envFrom:
            - configMapRef:
                name: dimp-auth-config
            - secretRef:
                name: dimp-auth-secrets
          volumeMounts:
            - name: dimp-auth-jwks
              mountPath: /keys/jwks.json
              subPath: jwks.json
              readOnly: true
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
      volumes:
        - name: dimp-auth-jwks
          secret:
            secretName: dimp-auth-jwks
            items:
              - key: jwks.json
                path: jwks.json
