---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ghcr-pull-secret.enc.yaml
  - secrets.enc.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
