---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kbw-productsdisplay-api
  labels:
    app: kbw-productsdisplay-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kbw-productsdisplay-api
  template:
    metadata:
      labels:
        app: kbw-productsdisplay-api
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: api
          image: ghcr.io/1spyral/productsdisplay-api
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef:
                name: kbw-productsdisplay-api-config
            - secretRef:
                name: kbw-productsdisplay-api-secrets
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3001
            initialDelaySeconds: 3
            periodSeconds: 30
          livenessProbe:
            httpGet:
              path: /livez
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 30
