---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dimp-server
  labels:
    app: dimp-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dimp-server
  template:
    metadata:
      labels:
        app: dimp-server
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: next
          image: ghcr.io/1spyral/dimp-server
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
          envFrom:
            - configMapRef:
                name: dimp-server-config
            - secretRef:
                name: dimp-server-secrets
