apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  repo: https://traefik.github.io/charts
  chart: traefik
  version: 37.1.1
  targetNamespace: networking
  valuesContent: |
    service:
      type: LoadBalancer
    ingressClass:
      enabled: true
      isDefaultClass: true
    ports:
      websecure:
        tls:
          enabled: true
    additionalArguments:
      - --api.insecure=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
    api:
      dashboard: true
