---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m
  releaseName: traefik
  targetNamespace: networking
  chart:
    spec:
      chart: traefik
      version: 37.1.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 1h

  install:
    crds: CreateReplace
    remediation:
      retries: 3

  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3

  valuesFrom:
    - kind: ConfigMap
      name: traefik-values
      valuesKey: values.yaml
