# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/master/traefik/values.schema.json

fullnameOverride: traefik

service:
  type: ClusterIP

ingressClass:
  enabled: true
  isDefaultClass: true

ports:
  web:
    port: 80
    hostPort: 80
  websecure:
    port: 443
    hostPort: 443
    tls:
      enabled: true

deployment:
  hostNetwork: true

additionalArguments:
  - --api.insecure=true
  - --api.dashboard=true
  - --ping=true
  - --metrics.prometheus=true
  - --providers.kubernetescrd
  - --providers.kubernetescrd.allowEmptyServices=true
  - --providers.kubernetesingress
  - --providers.kubernetesingress.allowEmptyServices=true
  - --providers.kubernetesingress.ingressendpoint.publishedservice=networking/traefik
  - --log.level=INFO
  - --entrypoints.web.address=:80
  - --entrypoints.websecure.address=:443
  - --entrypoints.web.http.redirections.entrypoint.to=websecure
  - --entrypoints.web.http.redirections.entrypoint.scheme=https
  - --entrypoints.web.http.redirections.entrypoint.permanent=true

api:
  dashboard: true
