---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: al-dente-frontend
  labels:
    app: al-dente
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: al-dente
      tier: frontend
  template:
    metadata:
      labels:
        app: al-dente
        tier: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/al-dente-ai/al-dente-frontend
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: al-dente-frontend-config
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
